.main-wrapper {
  background-color: #f8f8f9;
  height: 100vh;
  padding: 70px 10px;
  box-sizing: border-box;
}

.main-container {
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
